<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>AgroAssistant</title>
</head>

<body>

    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{{ url_for('static', filename='agroAssisstantLogo.png') }}" style="width: 25px; height: 25px">
                    <h2>Agro<span class="success">Assistant</span></h2>
                </div>
            </div>

            <div class="sidebar">
                <a href="/">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/crops/show-crops">
                    <span class="material-icons-sharp">
                        yard
                    </span>
                    <h3>Crops</h3>
                </a>
                <a href="/water-usage">
                    <span class="material-icons-sharp">
                        water_drop
                    </span>
                    <h3>Water Usage</h3>
                </a>
                <a href="/chatbot">
                    <span class="material-icons-sharp">
                        forum
                    </span>
                    <h3>AgriAI</h3>
                </a>
                <a href="{{ url_for('logout') }}" id="logout-btn">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>Dashboard</h1>
            <div class="analyse">
                <div class="moisture">
                    <div class="status">
                        <div class="info">
                            <h3>Soil Moisture</h3>
                            <h1>{{ soil_moisture }}m<sup>3</sup>/m<sup>3</sup></h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="circle-icon">
                                <span class="material-icons-sharp">
                                    opacity
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="temperature">
                    <div class="status">
                        <div class="info">
                            <h3>Soil Temperature</h3>
                            <h1>{{ soil_temperature }}°C</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="circle-icon">
                                <span class="material-icons-sharp">
                                    thermostat
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pH">
                    <div class="status">
                        <div class="info">
                            <h3>Soil pH</h3>
                            <h1>7.0</h1>
                        </div>
                        <div class="progresss">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="circle-icon">
                                <span class="material-icons-sharp">
                                    science
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="new-users">
                <h2>New Users</h2>
                <div class="user-list">
                    <div class="user">
                        <img src="images/profile-2.jpg">
                        <h2>Jack</h2>
                        <p>54 Min Ago</p>
                    </div>
                    <div class="user">
                        <img src="images/profile-3.jpg">
                        <h2>Amir</h2>
                        <p>3 Hours Ago</p>
                    </div>
                    <div class="user">
                        <img src="images/profile-4.jpg">
                        <h2>Ember</h2>
                        <p>6 Hours Ago</p>
                    </div>
                    <div class="user">
                        <img src="images/plus.png">
                        <h2>More</h2>
                        <p>New User</p>
                    </div>
                </div>
            </div>

            <div class="recent-orders">
                <h2>3-Day Weather Forecast</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Temperature(°C)</th>
                            <th>Cloud Cover(%)</th>
                            <th>Precipitation(in)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in daily_averages %}
                        <tr>
                            <td>{{ day.date }}</td>
                            <td class="danger">{{ day.averageTemperature }}</td>
                            <td>{{ day.averageCloud }}</td>
                            <td class="primary">{{ day.averagePrecip }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </main>

        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Reza</b></p>
                    </div>
                </div>

            </div>

            <div class="user-profile">
                <div class="logo">
                    <h2>AgriAI</h2>
                    <a href="/chatbot">Talk to AgriAI to learn more plant care tips!</a>
                </div>
            </div>

            <div class="reminders">
                <div class="notification add-reminder">
                    <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                        <h3><a href="/crops/show-crops">Add Crops</a></h3>
                    </div>
                </div>

            </div>

        </div>


    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>